{{/* Override sicuro OG tags:
     - Usa .Params.images[0] se presente
     - Altrimenti tenta .Params.cover se stringa URL */}}

{{- $ctx := . -}}
{{- $ogimg := "" -}}

{{- with $ctx.Params.images -}}
  {{- if gt (len .) 0 -}}
    {{- $ogimg = index . 0 -}}
  {{- end -}}
{{- end -}}

{{- if not $ogimg -}}
  {{- $cover := $ctx.Params.cover -}}
  {{- if $cover -}}
    {{- $coverStr := printf "%v" $cover -}}
    {{- if or (hasPrefix $coverStr "http://") (hasPrefix $coverStr "https://") -}}
      {{- $ogimg = $coverStr -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- if $ogimg }}<meta property="og:image" content="{{ $ogimg }}">{{ end -}}
